body { background: #ef3fea; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 58px; display: flex; }
.block-product-0 { color: #3fb4a5; font-size: 12px; margin-bottom: 5px; }
.block-config-1 { color: #8118bd; font-size: 17px; margin-bottom: 5px; }
.block-sms-2 { color: #f9530; font-size: 15px; margin-bottom: 5px; }
.block-uploader-3 { color: #247501; font-size: 19px; margin-bottom: 5px; }
.block-cache-4 { color: #8f1fd0; font-size: 15px; margin-bottom: 5px; }
.block-cluster-5 { color: #4a235; font-size: 17px; margin-bottom: 5px; }